body{
 margin: 0;
 padding: 0;
}
.nav-item{
 margin-left: 2vw;
 font-weight: 700;
 
}
.width img{
 width: 4em;
 border-radius: 50px;

}
.mx {
 position: relative;
 left: 10px;

}
.position{
 margin-bottom: 0;
position: fixed;
bottom: 0;
}
.content{
 margin-bottom: 150px;
}
.btnField{
 margin: 20px;
 border-top: 2px solid gray;
 padding: 10px;

}
.author{
 position: relative;
 left: 5px;
 top: 5px;
}
@media only screen and (max-width: 600px) {
.imageField {
 width: 94%;


}
}
