body{
 margin: 0;
 padding: 0;
}
.nav-item{
 margin-left: 2vw;
 font-weight: 700;
 
}
.width img{
 width: 4em;
 border-radius: 50px;

}
.mx {
 position: relative;
 left: 10px;

}
.position{
 
margin-bottom: 0;
}
